<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </head>
    {% include "nav.html" %}
    <body>
        <div class = "container col-sm-12">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>