{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-8">
      <form>
        <!-- Choose Brand -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Brand</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Apple</option>
          </select>
        </div>
        <!-- Choose Model -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Model</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">iPhone 6</option>
            <option value="2">iPhone 7</option>
            <option value="3">iPhone 8</option>
          </select>
        </div> 
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}