{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<br><br> 
<div class = "row">
    <div class = "col-sm-6">
        <div class = "card">
            <img class = "card-img-top" src = "{{phoneinfo.Picture.url}}">
            <div class = "card-body">
                <h3>{{phoneinfo.Model}}</h3>
                <p class = "card-text">
                    <table class = "table">
                        <thead><tr><th scope = "col">Properties</th><th>Value</th></tr></thead>
                        <tbody>
                            {% for name, val in phoneinfo.nameit %}
                            <tr>
                                {% if not name == 'pid' and not name == 'Picture' %}
                                <th scope = "row">{{ name }}</th>
                                <td>{{ val }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class = "col-sm-6">
            <h3>Open Box Videos!</h3>
            <div class = "card" style="height:30%;width:100%;overflow:auto;padding:10px;">
                <p class = "card-text">
                <table class = "table table-striped table-hover" style="height:inherit;width:inherit;">
                    <tbody>
                        {% for link, id, title in utube %}
                        <tr>
                            <td>
                                 <a href = '{{ link }}' target="_blank"><img src = "https://img.youtube.com/vi/{{ id }}/0.jpg" style = "height:150px;"></a>
                            </td>
                            <td>{{ title }}</td>
                            </a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </p>
            </div>
            <br>
    {% if accstatus %}
    <h3>Rate me!</h3>
    <div class = "card" style = "height:30%">
    <p class = "card-text">
        <br>
        <p>Rate is set as 0 by default, click on smiley faces and submit to rate us!</p>
        <form method = "POST" id = "smile">
             <i dataval = "1" class="fa fa-smile-o" style="font-size:50px"></i>
             <i dataval = "2" class="fa fa-smile-o" style="font-size:50px"></i>
             <i dataval = "3" class="fa fa-smile-o" style="font-size:50px"></i>
             <i dataval = "4" class="fa fa-smile-o" style="font-size:50px"></i>
             <i dataval = "5" class="fa fa-smile-o" style="font-size:50px"></i>
             <!-- <input id = "rate" type = "number" value = 1>  -->
             <br>
             <input class = "btn btn-primary" type = "submit" value = "Rate now!"> 
             {% if rate %}
             <input id = "rate" name = "rate" type = "number" value = {{ rate.rate }} style = "visibility: hidden;">
             {% elif not rate %}
             <input id = "rate" name = "rate" type = "number" value = 0 style = "visibility: hidden;">
             {% endif %}
        </form>
    </p>
    </div>
    <script>
            formg = document.getElementById("smile");
            console.log(formg);
            for(i = 0; i < document.getElementById("rate").value; i ++){
                formg.children[i].style = "font-size:50px; color: salmon;";
            }
            $(".fa-smile-o").on("click", function(){
                document.getElementById("rate").setAttribute("value", parseInt(this.getAttribute("dataval")));
                for(i = 0; i < document.getElementById("rate").getAttribute("value"); i ++){
                    formg.children[i].style = "font-size:50px; color: salmon;";
                }
                for(x = document.getElementById("rate").value; x < 5; x++){
                    formg.children[x].style = "font-size:50px;";
                }
                console.log(parseInt(this.getAttribute("dataval")));
            });

    </script>
    {% endif %}
</div>



   
{% endblock %}