{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <form method = "POST" enctype = "mutipart/form-data">
    <div class = "jumbotron" style = "text-align:center">
        <p>We wish to learn more about your <b>current phone</b>, please provide us with</p>
        <h4>Brand</h4>
            <select class = "form-control drop" id = "drop">
             <option value = "default" selected = "true" disabled>Select Options ...</option>
              {% for model in modellist %}
                  <option value = '{{ model }}'>{{ model }}</option>
              {% endfor %}
            </select>
            <br><br>
        <div class = "collapse" id = "mlist">
            <h4>Phone Model</h4>
            <select class = "form-control" id = "model">
                <option value = "default" selected = "true" disabled>Select Options ...</option>
            </select>
        </div>
        
        </div>
    </div>
    <script>
        
        $("#drop").on("change", function(){
            var brand = $(this).val();

            // get model of selected brand
            $.ajax({
                url: '/ajax/getmodel/',
                data: {
                    "brand" : brand
                },
                dataType: 'json',
                success: function(data){
                    console.log("received data and printing it out like\n");
                    console.log(data);
                    var result = JSON.parse(data);
                    // console.log(result[1].fields.Model);
                    result.forEach(function(opt){
                        console.log(opt.fields.Model);
                        var tempopt = document.createElement("option");
                        tempopt.value = opt.pk;
                        tempopt.innerHTML = opt.fields.Model;
                        $("#model").append(tempopt);
                    })
                    $("#mlist").collapse();
                }
            })

        });
    </script>
    </form>
    


{% endblock %}