{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">

    <h1>Choose IT right.</h1>

    <br />
    
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Phone Model" aria-label="Phone Model" aria-describedby="phone-model">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>

    <a href="/choosemyphone" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Personalize Choices</a>

    <hr class="my-4" />

    <div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://staticshop.o2.co.uk/product/images/iphone-x-space-grey-sku-header.png?cb=25dc5afb0412fc40a28aa29d82cb53d0" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://staticshop.o2.co.uk/product/images/iphone-x-space-grey-sku-header.png?cb=25dc5afb0412fc40a28aa29d82cb53d0" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://staticshop.o2.co.uk/product/images/iphone-x-space-grey-sku-header.png?cb=25dc5afb0412fc40a28aa29d82cb53d0" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://staticshop.o2.co.uk/product/images/iphone-x-space-grey-sku-header.png?cb=25dc5afb0412fc40a28aa29d82cb53d0" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://staticshop.o2.co.uk/product/images/iphone-x-space-grey-sku-header.png?cb=25dc5afb0412fc40a28aa29d82cb53d0" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
    </div>
    
</div>

{% endblock content %}