{% extends 'index.html' %}
{% load bootstrap4 %}
{% block thelist %}

{% if keyword %}
<p>The following is search result for [ {{ keyword }} ]</p>
{% endif %}
<div class = "card-deck-wrapper">
    <div class="card-deck " style = "display:flex; flex-wrap:wrap;">

    {% for obj in list %}
        <div class="card" style = "flex: 1 0 15%;margin: 10px;height:300px;">
            <a href = "/phonedis/{{ obj.pk }}">
                <div class = "card" style = "height:200px; width:inherit;">
                    <img class="card-img-top" src="{{ obj.Picture }}" style = "height:100%; width:auto inherit; display: block; margin-left: auto; margin-right: auto;">
                </div>
            <div class="card-body">
            <h5 class="card-title">{{ obj.Model }}</h5>
            </a>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}